<footer class="app-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-0 text-muted">
                    &copy; {{ currentYear }} {{ 'footer.copyright' | translate }}
                </p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="#" class="text-muted text-decoration-none">{{
                            'footer.privacyPolicy' | translate
                        }}</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-muted text-decoration-none">{{
                            'footer.termsOfService' | translate
                        }}</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-muted text-decoration-none">{{
                            'footer.contactUs' | translate
                        }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
